// variáveis
$primary-color: #182C61;
$secondary-color: #44bd32;
$hover-color: #4cd137;
$background-color: #f5f6fa;
$text-color-white: #fff;

$padding-large: 56px;
$padding-medium: 16px;
$padding-small: 8px;
$margin-large: 40px;
$margin-medium: 24px;
$margin-small: 8px;

$container-max-width: 1024px;
$grid-gap-large: 4%;
$grid-gap-medium: 1%;
